{% extends "main.html" %}

{% block content %}

  {% include "privateheader.html" %}

  <h2> Are you sure you want to delete {{item.name}}? </h2>

  <form action="#" method = 'post'>

    <button type="submit" class="btn-default" id="submit" type="submit">
	  <span class="glyphicon" aria-hidden="true"></span>
	  Delete
	</button>

  </form>

  <br>
	
  <a href = '{{url_for('showMain')}}'>
    <button class="btn-default">
	  <span class="glyphicon" aria-hidden="true"></span>
	  Cancel
	</button>
  </a>

{% endblock %}
