{% extends "main.html" %}
{% block content %}
{% include "privateheader.html" %}
<div class="row">
  <div class="column left__column">
    <div class="dropdown">
      <button class="dropbtn">Location</button>
      <div class="dropdown-content">
      {% for location in locations %}
        <a href = "{{url_for('showItems', location_id=location.id)}}">{{location.name}}</a>
      {% endfor %}
      </div>
    </div>
    <br><br><br>
    <a href="{{url_for('showUserItems')}}"><button class="dropbtn-2">Binder</button></a>
    <br><br><br>
    <a href="{{url_for('showUserMessages')}}"><button class="dropbtn-3">Messages</button></a>
  </div>

  <div class="column right__column">
    <h2 align="center">{{location.name}} items ({{items|length}} total)</h2>
      {% for item in items %}
      <a href = "{{url_for('showItem', item_id=item.id)}}">
        <h3 class="item">{{item.quantity}}x {{item.name}} ({{item.condition}}, {{item.cardset}}) - ${{item.price}} - UID {{item.user_id}}</h3>
      </a>
      {% endfor %}
  </div>
</div>
{% endblock %}
