{% extends "main.html" %}

{% block content %}

  {% include "privateheader.html" %}

  <div class="row">

    <!-- Category column -->
    <div class="column left__column">

      <h2> Categories </h2>

      {% for category in categories %}

        <a href = "{{url_for('showItems', category_id=category.id)}}">

          <h3> {{category.name}} </h3>

        </a>

      {% endfor %}

    </div>

    <div class="column right__column">

      <h2> {{category.name}} items ({{items|length}} total)</h2>

      <a href = "{{url_for('addItem')}}">

        <h3> Add Item </h3>

      </a>
      
      {% for item in items %}

        <a href = "{{url_for('showItem', item_id=item.id)}}">

          <h3> {{item.name}} </h3>

        </a>
        
      {% endfor %}

    </div>

  </div>

{% endblock %}