<header class="header">

  <a href = "{{url_for('showMain')}}">

    <h1 class="header__title">Catalog App</h1>

  </a>

</header>

<a href = "{{url_for('gdisconnect')}}">

  <h3>Click Here to Log Out</h3>

</a>

<hr>

<div class='flash'>

	{% with messages = get_flashed_messages() %}

    	{% if messages %}  

        <ul>

        	{% for message in messages %}

            <li> <strong> {{ message }} </strong> </li>
            
        	{% endfor %}

        </ul>

     	{% endif %}

    {% endwith %}

</div>