{% extends "main.html" %}

{% block content %}

  {% include "publicheader.html" %}

  <div class="row">

    <div class="column left__column">

      <h2> Locations </h2>

      {% for location in locations %}

        <a href = "{{url_for('showItems', location_id=location.id)}}">

          <h3> {{location.name}} </h3>

        </a>

      {% endfor %}

    </div>

    <div class="column right__column">

      <h2> {{item.name}} </h2>

      <h3> {{item.description}} </h3>

    </div>

  </div>

{% endblock %}