{% extends "main.html" %}
{% block content %}
  {% include "publicheader.html" %}
  <div class="row">
    <div class="column left__column">
      <div class="dropdown">
        <button class="dropbtn">Location</button>
        <div class="dropdown-content">
        {% for category in categories %}
          <a href = "{{url_for('showItems', category_id=category.id)}}">{{category.name}}</a>
        {% endfor %}
        </div>
      </div>
    </div>

    <div class="column right__column">
      <h2 align="center">Latest Items</h2>
      {% for item in items %}
        <a href = "{{url_for('showItem', item_id=item.id)}}">
          <h3 class="item"> {{item.name}} ({{item.category.name}}) </h3>
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock %}