{% extends "main.html" %}
{% block content %}
{% include "publicheader.html" %}
<div class="row">
  <div class="column left__column">
    <div class="dropdown">
      <button class="dropbtn">Location</button>
      <div class="dropdown-content">
      {% for location in locations %}
        <a href = "{{url_for('show_items', location_id=location.id)}}">{{location.name}}</a>
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="column right__column">
    <h2 align="center">Latest News</h2>
    <p class="item">
      This is a placeholder for Magic and site-related news.
    </p>
  </div>
</div>
{% endblock %}
