{% extends "main.html" %}
{% block content %}
{% include "privateheader.html" %}
<div class="row">
  <div class="column left__column">
    <div class="dropdown">
      <button class="dropbtn">Location</button>
      <div class="dropdown-content">
      {% for location in locations %}
        <a href = "{{url_for('showItems', location_id=location.id)}}">{{location.name}}</a>
      {% endfor %}
      </div>
    </div>
    <br><br><br>
    <a href="{{url_for('showUserItems')}}"><button class="dropbtn-2">Binder</button></a>
    <br><br><br>
    <a href="{{url_for('showUserMessages')}}"><button class="dropbtn-3">Messages</button></a>
  </div>

  <div class="column right__column">
    <h2 align="center">Messages ({{messages|length}} total)</h2>
    {% for message in messages %}
      <h3 class="item">Sender UID: {{message.sender_id}} - Item ID: {{message.item_id}}
      <a href="{{url_for('replyMessage', message_id=message.id)}}">Reply</a>
      <a href="{{url_for('deleteMessage', message_id=message.id)}}">Delete</a>
      </h3>
    {% endfor %}
  </div>
</div>
{% endblock %}
