{% extends "main.html" %}
{% block content %}
{% include "privateheader.html" %}
<div class="row">
  <div class="column left__column">
    <div class="dropdown">
      <button class="dropbtn">Location</button>
      <div class="dropdown-content">
      {% for location in locations %}
        <a href = "{{url_for('show_items', location_id=location.id)}}">{{location.name}}</a>
      {% endfor %}
      </div>
    </div>
    <br><br><br>
    <a href="{{url_for('show_user_items')}}"><button class="dropbtn-2">Binder</button></a>
    <br><br><br>
    <a href="{{url_for('show_user_messages')}}"><button class="dropbtn-3">Messages</button></a>
  </div>

  <div class="column right__column">
    <h2 align="center">Messages ({{messages|length}} total)</h2>
    {% for message in messages %}
      <h3 class="item">{{message.item.quantity}}x {{message.item.name}} ({{message.item.condition}}, {{message.item.cardset}})
      <a href="{{url_for('reply_message', message_id=message.id)}}">Reply</a>
      <a href="{{url_for('delete_message', message_id=message.id)}}">Delete</a>
      </h3>
    {% endfor %}
  </div>
</div>
{% endblock %}
